<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songcai.mapper.DiseasedTreeMapper">

    <!-- foreach 标签的含义
         collection: 遍历的集合
         item: 遍历出来的元素
         separator: 每次循环之间的分隔符
     -->

    <select id="findByParam" resultType="com.songcai.pojo.DiseasedTree">
        select d.*,u.username from diseased_trees d left join users u on d.survey_id = u.user_id
        <where>
            <if test="species != null and species != ''">
                d.species like concat('%' || #{species} || '%')
            </if>
            <if test="grade != null">
                and d.grade = #{grade}
            </if>
            <if test="start != null and end != null">
                and d.survey_date between #{start} and #{end}
            </if>
            <if test="surveyId != null and surveyId != ''">
                and d.survey_id = #{surveyId}
           <!-- SQL语句是下划线命名,Java语句是驼峰命名 ！！！！！！！ -->
            </if>
            <if test="username != null and username !=''">
                and u.username = #{username}
            </if>
        </where>
    </select>

    <select id="findBySearchParam" resultType="com.songcai.pojo.DiseasedTree">
        select tree_id, species, grade, chest, survey_id, survey_date,u.username,latitude,longitude, ST_AsText(geom) as geomText,
               ST_Distance(d.geom::geography,ST_SetSRID(ST_MakePoint(#{longitude},#{latitude}),4326)::geography) as distance
        from diseased_trees d
        left join users u on d.survey_id = u.user_id
        where ST_DWithin(d.geom::geography,ST_SetSRID(ST_MakePoint(#{longitude},#{latitude}),4326)::geography,#{radius})
        order by distance
    </select>

    <!-- ===== 批量查询病树（路径规划用） ===== -->
    <select id="findByIds" resultType="com.songcai.pojo.DiseasedTree">
        SELECT tree_id, species, grade, chest, survey_id, survey_date,
               longitude, latitude
        FROM diseased_trees
        where tree_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>